/* 
@author:        Daniel Flockert
@last_edited:   11.09.2020

Main css file
*/

html {
    overflow-y: auto;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.clickable {
    transform: scale(1.0);
    transition-duration: 0.2s;
}

.clickable:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
    cursor: pointer;
}

header h2 {
    word-wrap: break-word;
    text-shadow: 3px 3px 3px rgba(150, 150, 150, 0.5);
}

.center-text {
    text-align: center;
}

#header-color-bar {
    height: 20px;
}

.input-field input[type=number] {
    text-align: right;
}

/* select item text color */

.dropdown-content li>a, .dropdown-content li>span {
    color: #00acc1 !important;
}

/* select focus border color */

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #00acc1 !important;
}

/* input focus border color */

input[type=number]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #00acc1 !important;
    -webkit-box-shadow: 0 1px 0 0 #00acc1 !important;
    box-shadow: 0 1px 0 0 #00acc1 !important;
}